/* ===============================
   LOGIN PAGE: Container Layout
   =============================== */
body {
  display: flex;
  justify-content: center;   /* Horizontal centering */
  align-items: center;       /* Vertical centering */
  min-height: 100vh;         /* Take full viewport height */
  margin: 0;                 /* Remove default margins */
  padding: 0 1.5rem;
  
  max-width: 100%; 
  background: repeating-linear-gradient(45deg, #f5faff 0, #f5faff 10px, #dbeafe 10px, #dbeafe 20px);  
}

.container {
  grid-template-columns: 0.5fr 1fr;
}

.registerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  background-color: var(--color-surface);
}

input {
    /* margin: 0; */
    width: 95%;
}

.rowName input {
  width: 120px;
  margin: 0;
}

.prefix select{
  width: 90px;
  margin: 0;
  font-size: small;
  height: 40.8px !important;
  appearance: none;
}
/* ===============================
   LOGIN PAGE: Illustration
   =============================== */
.registerIllustration {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  background: linear-gradient(135deg, #ffffff 0%, #a4b4e7 100%);
}

.registerIllustration img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  display: block;
}


.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.col {
  flex: 1;
  min-width: 100px
}

.prefix {
  flex: 0.4;
  min-width: 100px
}